In [5]:
import pandas as pd 
import numpy as np
import warnings

warnings.filterwarnings("ignore")
values = np.random.rand(100)
print(values)

[0.24543363 0.65978616 0.75717345 0.25092848 0.18862672 0.19086301
 0.32854274 0.04471881 0.57811734 0.96282149 0.00206779 0.3690315
 0.23731441 0.11712231 0.29926502 0.2541819  0.95826606 0.86221741
 0.25835598 0.65968    0.14842196 0.99627128 0.48380554 0.93963743
 0.39749558 0.78128784 0.47928039 0.03281857 0.78726332 0.46431016
 0.72573467 0.17611435 0.26709172 0.37915668 0.63543806 0.07930807
 0.96873734 0.68727516 0.50418754 0.66580121 0.39813511 0.51693593
 0.12263206 0.95324996 0.41963468 0.40522938 0.48659267 0.55439324
 0.35975483 0.59829209 0.5149797  0.74589026 0.58197031 0.04431448
 0.62140445 0.78209431 0.86397794 0.55773767 0.30844827 0.79007068
 0.92569663 0.44073841 0.86188073 0.82639048 0.50644127 0.84872819
 0.11212162 0.64956349 0.67471285 0.2820735  0.03032341 0.90367555
 0.12024038 0.4864479  0.85602906 0.09203637 0.53823856 0.41776467
 0.12064387 0.4081207  0.86290411 0.51417927 0.24341403 0.10858641
 0.29643675 0.29752412 0.70254606 0.68669689 0.07747201 0.94345649
 0.62594921 0.6098789  0.04295392 0.71369423 0.46824672 0.96148839
 0.44681441 0.05475485 0.72788198 0.79207976]

In [6]:
labels = []
for i in values[:50]:
    if i<=0.5:
        labels.append("class1")
    else:
        labels.append("class2")
labels +=[None]*50
print(labels)

['class1', 'class2', 'class2', 'class1', 'class1', 'class1', 'class1', 'class1', 'class2', 'class2', 'class1', 'class1', 'class1', 'class1', 'class1', 'class1', 'class2', 'class2', 'class1', 'class2', 'class1', 'class2', 'class1', 'class2', 'class1', 'class2', 'class1', 'class1', 'class2', 'class1', 'class2', 'class1', 'class1', 'class1', 'class2', 'class1', 'class2', 'class2', 'class2', 'class2', 'class1', 'class2', 'class1', 'class2', 'class1', 'class1', 'class1', 'class2', 'class1', 'class2', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [7]:
data = {
    "point": [f"x{i+1}" for i in range(100)],
    "Values": values,
    "Labels": labels
}
df = pd.DataFrame(data)
df

   point    Values  Labels
0     x1  0.245434  class1
1     x2  0.659786  class2
2     x3  0.757173  class2
3     x4  0.250928  class1
4     x5  0.188627  class1
..   ...       ...     ...
95   x96  0.961488    None
96   x97  0.446814    None
97   x98  0.054755    None
98   x99  0.727882    None
99  x100  0.792080    None

[100 rows x 3 columns]

In [13]:
labeled_df=df[df["Labels"].notnull()]
print(labeled_df)
x_train =labeled_df[["Values"]]
y_train =labeled_df[["Labels"]]

unlabeled_df =df[df["Labels"].isna()]
x_test=unlabeled_df[["Values"]]
true_labels=["class1" if x<0.5 else "class2" for x in values[50:]]

from sklearn.neighbors import KNeighborsClassifier as kn
from sklearn.metrics import classification_report


k_values=[1,2,3,4,5,20,30]
for k in k_values:
    knn=kn(n_neighbors=k)
    knn.fit(x_train,y_train)
    predictions = knn.predict(x_test)
    print(f"accuracy for k={k}")
    print(classification_report(true_labels,predictions))

   point    Values  Labels
0     x1  0.245434  class1
1     x2  0.659786  class2
2     x3  0.757173  class2
3     x4  0.250928  class1
4     x5  0.188627  class1
5     x6  0.190863  class1
6     x7  0.328543  class1
7     x8  0.044719  class1
8     x9  0.578117  class2
9    x10  0.962821  class2
10   x11  0.002068  class1
11   x12  0.369032  class1
12   x13  0.237314  class1
13   x14  0.117122  class1
14   x15  0.299265  class1
15   x16  0.254182  class1
16   x17  0.958266  class2
17   x18  0.862217  class2
18   x19  0.258356  class1
19   x20  0.659680  class2
20   x21  0.148422  class1
21   x22  0.996271  class2
22   x23  0.483806  class1
23   x24  0.939637  class2
24   x25  0.397496  class1
25   x26  0.781288  class2
26   x27  0.479280  class1
27   x28  0.032819  class1
28   x29  0.787263  class2
29   x30  0.464310  class1
30   x31  0.725735  class2
31   x32  0.176114  class1
32   x33  0.267092  class1
33   x34  0.379157  class1
34   x35  0.635438  class2
35   x36  0.079308  class1
36   x37  0.968737  class2
37   x38  0.687275  class2
38   x39  0.504188  class2
39   x40  0.665801  class2
40   x41  0.398135  class1
41   x42  0.516936  class2
42   x43  0.122632  class1
43   x44  0.953250  class2
44   x45  0.419635  class1
45   x46  0.405229  class1
46   x47  0.486593  class1
47   x48  0.554393  class2
48   x49  0.359755  class1
49   x50  0.598292  class2
accuracy for k=1
              precision    recall  f1-score   support

      class1       1.00      1.00      1.00        21
      class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

accuracy for k=2
              precision    recall  f1-score   support

      class1       1.00      1.00      1.00        21
      class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

accuracy for k=3
              precision    recall  f1-score   support

      class1       1.00      1.00      1.00        21
      class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

accuracy for k=4
              precision    recall  f1-score   support

      class1       0.88      1.00      0.93        21
      class2       1.00      0.90      0.95        29

    accuracy                           0.94        50
   macro avg       0.94      0.95      0.94        50
weighted avg       0.95      0.94      0.94        50

accuracy for k=5
              precision    recall  f1-score   support

      class1       0.88      1.00      0.93        21
      class2       1.00      0.90      0.95        29

    accuracy                           0.94        50
   macro avg       0.94      0.95      0.94        50
weighted avg       0.95      0.94      0.94        50

accuracy for k=20
              precision    recall  f1-score   support

      class1       0.84      1.00      0.91        21
      class2       1.00      0.86      0.93        29

    accuracy                           0.92        50
   macro avg       0.92      0.93      0.92        50
weighted avg       0.93      0.92      0.92        50

accuracy for k=30
              precision    recall  f1-score   support

      class1       0.78      1.00      0.88        21
      class2       1.00      0.79      0.88        29

    accuracy                           0.88        50
   macro avg       0.89      0.90      0.88        50
weighted avg       0.91      0.88      0.88        50